<div fxLayoutAlign="center center">
    <div class="base2" fxLayout="column" fxFlex.xs="100" fxFlex.gt-xs="100" fxFlex.gt-sm="65em">
      <div class="base-child" fxLayoutAlign="end center">
        <a class="button-volver" mat-button routerLink="/">Volver</a>
      </div>
      <div
        class="base-child2"
        fxLayout="row wrap"
        fxLayout.xs="column"
        fxLayoutAlign="center start"
        fxLayoutAlign.xs="space-between stretch"
        fxFlex="100"
      >
        <mat-list class="sessions" fxFlex="50" fxFlex.xs="100" fxLayout="column">
          <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
            <div><span>Fecha: 23/09/2015, Disponibilidad: 3</span></div>
            <div fxLayout="row" fxLayoutAlign="center center">
              <button mat-button color="primary">-</button>
              <span>0</span>
              <button mat-button color="primary">+</button>
            </div>
          </div>
          <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
            <div><span>Fecha: 23/09/2015, Disponibilidad: 3</span></div>
            <div fxLayout="row" fxLayoutAlign="center center">
              <button mat-button color="primary">-</button>
              <span>0</span>
              <button mat-button color="primary">+</button>
            </div>
          </div>
          <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
            <div><span>Fecha: 23/09/2015, Disponibilidad: 3</span></div>
            <div fxLayout="row" fxLayoutAlign="center center">
              <button mat-button color="primary">-</button>
              <span>0</span>
              <button mat-button color="primary">+</button>
            </div>
          </div>
          <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
            <div><span>Fecha: 23/09/2015, Disponibilidad: 3</span></div>
            <div fxLayout="row" fxLayoutAlign="center center">
              <button mat-button color="primary">-</button>
              <span>0</span>
              <button mat-button color="primary">+</button>
            </div>
          </div>
          <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
            <div><span>Fecha: 23/09/2015, Disponibilidad: 3</span></div>
            <div fxLayout="row" fxLayoutAlign="center center">
              <button mat-button color="primary">-</button>
              <span>0</span>
              <button mat-button color="primary">+</button>
            </div>
          </div>
        </mat-list>
        <div fxFlex="50">
          <mat-list class="shopping" fxLayout="column">
            <div class="shopping-card" fxFlex="100" fxLayout="column">
              <div class="header"><span>PABLO ALBORÁN</span></div>
              <div fxLayout="row" fxLayoutAlign="space-between center">
                  <span>30/09/2015</span>
                  <div fxLayout="row" fxLayoutAlign="space-between center">
                      <span>x2</span>
                      <span><img class="trash"
                          src="/assets/img/trash.png"
                          alt="Imagen"
                        /></span>
                  </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="space-between center">
                  <span>30/09/2015</span>
                  <div fxLayout="row" fxLayoutAlign="space-between center">
                      <span>x2</span>
                      <span><img class="trash"
                          src="/assets/img/trash.png"
                          alt="Imagen"
                        /></span>
                  </div>
              </div>
            </div>
            <div class="shopping-card" fxFlex="100" fxLayout="column">
              <div class="header"><span>PABLO ALBORÁN</span></div>
              <div fxLayout="row" fxLayoutAlign="space-between center">
                  <span>30/09/2015</span>
                  <div fxLayout="row" fxLayoutAlign="space-between center">
                      <span>x2</span>
                      <span><img class="trash"
                          src="/assets/img/trash.png"
                          alt="Imagen"
                        /></span>
                  </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="space-between center">
                  <span>30/09/2015</span>
                  <div fxLayout="row" fxLayoutAlign="space-between center">
                      <span>x2</span>
                      <span><img class="trash"
                          src="/assets/img/trash.png"
                          alt="Imagen"
                        /></span>
                  </div>
              </div>
            </div>
          </mat-list>
        </div>
      </div>
    </div>
  </div>
  