<div *ngIf="Shoppingcart.length > 0" fxLayout="column">
    <div class="shopping-card" *ngFor="let eventSession of Shoppingcart; let a = index" fxFlex="100" fxLayout="column">
        <div class="itemListtitle"><span>{{eventSession.event?.title}}</span></div>
        <div class="itemList" *ngFor="let session of eventSession.sessions | OrderBy: 'asc'; let i = index">
            <span>{{ session.date }}</span>
            <div>
                <span>x{{ session.numberticket }}</span>
                <span (click)="removesession(a,i)"
                ><img src="/assets/img/trash.png" alt="Imagen"
                /></span>
            </div>
        </div>
    </div>
</div>